<script>
  import { mdiMenu, mdiMagnify } from '@mdi/js';
  import { query, decorations } from '$lib/store.js';
  import { onMount } from 'svelte';
  import WindowControls from './WindowControls.svelte';
  //import { appWindow } from '../../node_modules/@tauri-apps/api/window';

  onMount(() => {
    decorations.subscribe(async (value) => {
      let { appWindow } = await import('../../node_modules/@tauri-apps/api/window');

      if (value != 'system') {
        await appWindow.setDecorations(false);
      } else {
        await appWindow.setDecorations(true);
      }
    });
  });
</script>

<div class="header">
  {#if $decorations == 'left'}
    <WindowControls inverted />
  {/if}
  <h3 class="title"><a href="/" class="link">Chad Launcher</a></h3>
  <input bind:value={$query} style="max-width:300px" dense rounded filled placeholder="Search" />
  <div class="links">
    <a href="/library" class="link">Library</a>
    <a href="/discover" class="link">Discover</a>
    <a href="/downloads" class="link">Downloads</a>
    <a href="/settings" class="link">Settings</a>
    <a href="/wiki" class="link">Wiki</a>
    <a href="/about" class="link">About</a>
  </div>
  {#if $decorations == 'right'}
    <div class="right">
      <WindowControls />
    </div>
  {/if}
</div>

<style>
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: var(--primary);
    overflow-x: hidden;
  }

  .title {
    min-width: 200px;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
  }
  .links::-webkit-scrollbar {
    height: 4px;
  }

  input {
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    flex-shrink: 1;
  }

  .link {
    text-decoration: none;
  }

  .header > *,
  .links > * {
    margin: 10px;
  }

  .right {
    margin-left: auto;
  }

  .grow {
    flex-grow: 1;
  }
</style>
