html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* Variables */
:root {
    --desktop-font-size: 1.2rem/1.5;
    --mobile-font-size: 1rem/1.4;
    --text-color: var(--primary);
    --link-color: var(--primary);
    --link-color-alt: var(--secondary);
    --primary-color: var(--primary);
    --secondary-color: var(--secondary);
    --tertiary-color: var(--secondary);
}

/* Typography */
body {
    color: var(--text-color);
    margin: 0 auto;
    max-width: 75ch;
    padding: 0 0.5rem;
}
body,
input {
    font: var(--desktop-font-size) -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

hr {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5px;
    background-color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
img,
figure {
    /*margin: 2rem 0;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.2;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 120%;
}
h4,
h5,
h6 {
    font-size: 100%;
}
h5,
h6 {
    text-transform: uppercase;
}

header h1 {
    border-bottom: 1px solid;
}

a,
a:visited {
    color: var(--link-color);
}

strong,
time,
b {
    font-weight: bold;
}
em,
dfn,
i {
    font-style: italic;
}
sub {
    font-size: 60%;
    vertical-align: bottom;
}
small {
    font-size: 80%;
}

blockquote,
q {
    background: var(--secondary-color);
    border-left: 10px solid var(--primary-color);
    display: block;
    font-family: 'Georgia', serif;
    padding: 1rem;
}
blockquote p:first-child {
    margin-top: 0;
}
blockquote p:last-child {
    margin-bottom: 0;
}
cite {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
}

kbd,
code,
samp,
pre,
var {
    font-family: monospace;
}
code,
pre {
    background: var(--tertiary-color);
    overflow: auto;
    padding: 0.5rem 1rem;
}
code pre,
pre code {
    padding: 0;
}

pre {
    margin: 10px;
}

/* Elements */
hr {
    border: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

figure {
    border: 1px solid var(--primary-color);
    display: inline-block;
    padding: 1rem;
    width: 100%;
}
figure img {
    margin: 0 auto;
}
figure figcaption {
    font-size: 80%;
    margin-top: 0.5rem;
    text-align: center;
}

ul,
ol {
    margin: 10px 0;
    padding: 0 0 0 2rem;
}

dl dd {
    padding-left: 2rem;
}

table {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}
table caption {
    margin: 2rem 0;
}
table tr {
    border-bottom: 1px solid var(--primary-color);
}
table tbody tr:nth-child(even) {
    background: var(--tertiary-color);
}
table th {
    background: var(--secondary-color);
    font-weight: bold;
}
table th,
table td {
    padding: 1rem;
}
table th:not(last-of-type),
table td:not(last-of-type) {
    border-right: 1px solid var(--primary-color);
}

input {
    appearance: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    display: block;
    margin: 0.2rem 0;
    padding: 0.3rem;
}
input:focus,
input:active {
    background-color: var(--secondary-color);
    border-color: var(--link-color);
}
::placeholder {
    color: var(--text-color);
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.2s;
    font-size: 0.8em;
}

button:hover {
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

select {
    appearance: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 0px;
}

/* Mobile Styling */
@media screen and (max-width: 75ch) {
    body,
    input {
        font: var(--mobile-font-size) -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    }
    table {
        table-layout: auto;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}
